@model JobSite.Models.IndexViewModel
@{
    ViewBag.Title = "Управление на профила";
}

<h2>@ViewBag.Title <img src="~/Images/manage .png" height="57"/> </h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Промяна на настройките на профила</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Снимка:</dt>
        <dd>
            @if (ViewBag.Photo != null)
            {
                <img src="@ViewBag.Photo" />
            }
            else
            {
                @:Няма снимка
            }
        </dd>
        <dt>Потребителско име:</dt>
        <dd>
            @ViewBag.Username
        </dd>
        <dt>Име:</dt>
        <dd>
            @ViewBag.Name
        </dd>
        <dt>E-mail:</dt>
        <dd>
            @ViewBag.Email
        </dd>
        <dt>Роля:</dt>
        <dd>
            @ViewBag.UserRole
        </dd>
        <dt>Парола:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Промени парола", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
