@{
    ViewBag.Title = "Начална Страница";
}

<h1>ПО СЕКТОР</h1>
<section class="row">
    @foreach (var d in ViewBag.Category)
    {
        var category = d.Key.CategoryName;
        <article class="form-control-static col-md-6">
            <a href="@Url.Content("~/JobPosts?category="+ category)" class="title">@d.Key.CategoryName (@d.Value)</a>
        </article>
    }

</section>
<h1>ОБЯВИ ПО ГРАД</h1>
<section class="row">
    @foreach (var d in ViewBag.City)
    {
        var city = d.Key.CityName;
        <article class="form-control-static col-md-6">
            <a href="@Url.Content("~/JobPosts?city="+ city)" class="title">@d.Key.CityName (@d.Value)</a>
        </article>
    }
</section>