@model JobSite.Models.ApplyJob

@{
    ViewBag.Title = "Кандидатстване";
}

<h2>Кандидатстване</h2>
@using (Html.BeginForm("Index", "ApplyJob", null, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("CV-Файл", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="File" name="upload" />
            </div>
            @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.Label("Телефон", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Съобщение", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(x => x.Message, new { @class = "form-control", @rows = "10" })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Кандидатствай" class="btn btn-default" />
            </div>
        </div>

    </div>

}

<div>
    @Html.ActionLink("Към списъка с обяви", "Index", "JobPosts", routeValues: null, htmlAttributes: new { id = "jobPostsLink" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


