@model IEnumerable<JobSite.Models.ApplyJob>

@{
    ViewBag.Title = "Списък Кандидати";
}

<h2>Списък Кандидати</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Име")
        </th>
        <th>
            @Html.DisplayName("E-mail")
        </th>
        <th>
            @Html.DisplayName("Дата на кандидатстване")
        </th>
        <th>
            @Html.DisplayName("Действия")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplyDate)
            </td>
            <td>
                @Html.ActionLink("Детайли", "ViewCandidate", new { userId = item.UserId.Id, jobpostId = item.JobPostId.Id })
            </td>
        </tr>
    }
</table>
<br />
