@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@model PagedList.IPagedList<JobSite.Models.ApplyJob>

@{
    ViewBag.Title = "Списък Кандидати";
}

<h2>Списък Кандидати</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Кандидат")
        </th>
        <th>
            @Html.DisplayName("Имейл")
        </th>
        <th>
            @Html.DisplayName("Съобщение")
        </th>
        <th>
            @Html.DisplayName("CV - Файл ")
        </th>
        <th>
            @Html.DisplayName("Действия")
        </th>        
    </tr>

    @foreach (var item in Model)
    {        
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Files)
            </td>
            <td>
                @Html.ActionLink("Детайли", "ViewCandidate", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) от @Model.PageCount

@{
    String currentCity = Request.QueryString["city"];
    String currentCategory = Request.QueryString["category"];
}

@Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, category = currentCategory, city = currentCity }))
