
﻿@model JobSite.Models.ApplicationUser
@{
    ViewBag.Title = "Профил на кандидата";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Профил на кандидата</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>CV:</dt>
        <dd>
            @if (ViewBag.CV != null)
            {
                <img src="@ViewBag.CV" />
            }
            else
            {
                @:Няма CV
            }
        </dd>
        <dt>Потребителско име:</dt>
        <dd>
            @Model.UserName
        </dd>
        <dt>Име:</dt>
        <dd>
            @Model.FullName
        </dd>
    </dl>
</div>