@model JobSite.Models.ApplicationUser
@{
    ViewBag.Title = "Профил на кандита";
}
<h2>@ViewBag.Title</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Профил на кандита</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>CV:</dt>
        <dd>
            @if(ViewBag.Photo != null)
            {
                <img src="@ViewBag.Photo" />
            }
            else
            {
                @:Няма снимка.
            }
        </dd>
        <dt>Потребителско име:</dt>
        <dd>@Model.UserName</dd>
        <dt>Име:</dt>
        <dd>@Model.FullName</dd>
    </dl>
</div>
