﻿@model JobSite.Models.ApplicationUser
@{
    ViewBag.Title = "Профил на кандидата";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Профил на кандидата</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Picture:</dt>
        <dd>
            @if (ViewBag.Photo != null)
            {
                <img src="@ViewBag.Photo" />
            }
            else
            {
                @:Няма Снимка
                }

            @*@if (ViewBag.CV != null)
                {
                    <img src="@ViewBag.CV" />
                }
                else
                {
                    @:Няма CV
                }*@
        </dd>
        <dt>Потребителско име:</dt>
        <dd>
            @Model.UserName
        </dd>
        <dt>Име:</dt>
        <dd>
            @Model.FullName
        </dd>
        <dt>Телефон:</dt>
        <dd>
            @ViewBag.ApplyJob.Phone
        </dd>
        <dt>Съобщение:</dt>
        <dd>
            @ViewBag.ApplyJob.Message
        </dd>
        <dt>CV:</dt>
        <dd>
            @ViewBag.ApplyJob.Message
        </dd>

    </dl>
</div>