@model JobSite.Models.JobPost

@{
    ViewBag.Title = "Детайли";
}

<h2>Детайли</h2>

<div>
    <h4><b><u>@Html.DisplayFor(model => model.Heading)</u></b></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Заглавие")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Heading)
        </dd>

        <dt>
            @Html.DisplayName("Публикувана на")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishDate)
        </dd>

        <dt>
            @Html.DisplayName("Валидна до")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpireDate)
        </dd>

        <dt>
            @Html.DisplayName("Описание")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактирай", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Към списъка с обяви", "Index")
</p>
