@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@model PagedList.IPagedList<JobSite.Models.ApplyJob>

@{
    ViewBag.Title = "Моите Кандидатствания";
}

<h2>Моите Кандидатствания</h2>
<table class="table">
    <tr>        
        <th>
            @Html.DisplayName("Дата на кандидатстване")
        </th>
        <th>
            @Html.DisplayName("Телефон")
        </th>
        <th>
            @Html.DisplayName("Съобщение")
        </th>
        <th>
            @Html.DisplayName("Обява")
        </th>                
    </tr>

    @foreach (var item in Model)
    {
        var jobId = item.JobPostId.Id;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplyDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>                        
            <td>
                <a href="@Url.Content("~/JobPosts/Details/"+ jobId)" class="title">@Html.DisplayFor(modelItem => item.JobPostId.Heading)</a>                               
            </td>
        </tr>
    }
</table>
<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) от @Model.PageCount

@{
    String currentCity = Request.QueryString["city"];
    String currentCategory = Request.QueryString["category"];
}

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, category = currentCategory, city = currentCity }))
